@model CarPersonView

<h3>Car: </h3>
<h5>Model: @Model.Car.Model</h5>
<h5>Marka: @Model.Car.Marka </h5>

<h3>Person: </h3>
<h5>Id: @Model.Person.Id</h5>
<h5>Name: @Model.Person.Name</h5>
<h5>Age: @Model.Person.Age</h5>
